src/main/resources/StocksCheckList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.1.11.3570 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="texts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="text" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="short" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:choice maxOccurs="unbounded">
                            <xs:element name="stop" minOccurs="0">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="bold" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="stprice" minOccurs="0" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="to" minOccurs="0">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="bold" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tradeoptype" minOccurs="0" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="start" minOccurs="0">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="bold" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tddate" minOccurs="0" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="opprice" minOccurs="0">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="bold" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="tdprice" minOccurs="0" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ltgyear" minOccurs="0" />
                            <xs:element name="premium" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="warnsign" minOccurs="0" />
                            <xs:element name="ertdate" minOccurs="0" />
                            <xs:element name="ttdate" minOccurs="0" />
                            <xs:element name="idx" minOccurs="0" />
                            <xs:element name="varval" minOccurs="0" />
                            <xs:element name="varpct" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="firstdate" minOccurs="0" />
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="long" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:choice maxOccurs="unbounded">
                            <xs:element name="idx" minOccurs="0" />
                            <xs:element name="rp" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="abs" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ttdate" minOccurs="0" />
                            <xs:element name="nbranl" minOccurs="0" />
                            <xs:element name="startdate" minOccurs="0" />
                            <xs:element name="tdprice" minOccurs="0" />
                            <xs:element name="price" minOccurs="0" />
                            <xs:element name="stprice" minOccurs="0" />
                            <xs:element name="ltgyear" minOccurs="0" />
                            <xs:element name="ertdate" minOccurs="0" />
                            <xs:element name="bold" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0">
                                  <xs:element name="rp" minOccurs="0">
                                    <xs:complexType>
                                      <xs:attribute name="abs" type="xs:string" use="optional" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="tr-min" minOccurs="0" />
                                  <xs:element name="tr-max" minOccurs="0" />
                                  <xs:element name="payout" minOccurs="0">
                                    <xs:complexType>
                                      <xs:attribute name="pct" type="xs:string" use="optional" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="ertprice" minOccurs="0" />
                                  <xs:element name="name" minOccurs="0" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="premium" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="riskdate" minOccurs="0" />
                            <xs:element name="bear" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                                <xs:attribute name="abs" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="badnews" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="beta" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="corr2" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="varval" minOccurs="0" />
                            <xs:element name="varpct" minOccurs="0">
                              <xs:complexType>
                                <xs:attribute name="pct" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="gldate" minOccurs="0" />
                            <xs:element name="irstdate" minOccurs="0" />
                            <xs:element name="anldate" minOccurs="0" />
                            <xs:element name="MooDPrice" minOccurs="0" />
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="lang" type="Language" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="tag" type="xs:string" use="optional" />
                      <xs:attribute name="lang" type="Language" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="groups" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
                      <xs:attribute name="lang" type="Language" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sectors" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sector" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
                      <xs:attribute name="lang" type="Language" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stocks" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stock" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ccy" type="xs:string" minOccurs="0" />
                    <xs:element name="country" type="xs:string" minOccurs="0" />
                    <xs:element name="isin" type="xs:string" minOccurs="0" />
                    <xs:element name="group" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="sector" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="name" type="xs:string" minOccurs="0" />
                    <xs:element name="ltgyear" type="xs:unsignedShort" minOccurs="0" />
                    <xs:element name="ttdate" type="xs:date" minOccurs="0" />
                    <xs:element name="ertdate" type="xs:date" minOccurs="0" />
                    <xs:element name="ertprice" type="xs:decimal" minOccurs="0" />
                    <xs:element name="irstdate" type="xs:date" minOccurs="0" />
                    <xs:element name="gldate" type="xs:date" minOccurs="0" />
                    <xs:element name="riskdate" type="xs:date" minOccurs="0" />
                    <xs:element name="idx" type="xs:string" minOccurs="0" />
                    <xs:element name="bmfrisk" type="RiskZone" minOccurs="0" />
                    <xs:element name="bnfrisk" type="RiskZone" minOccurs="0" />
                    <xs:element name="payout" type="xs:decimal" minOccurs="0" />
                    <xs:element name="tr-min" type="xs:decimal" minOccurs="0" />
                    <xs:element name="tr-max" type="xs:decimal" minOccurs="0" />
                    <xs:element name="premium" type="xs:decimal" minOccurs="0" />
                    <xs:element name="varpct" type="xs:decimal" minOccurs="0" />
                    <xs:element name="pdf" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="price" type="xs:decimal" minOccurs="0" />
                    <xs:element name="erev" type="xs:decimal" minOccurs="0" />
                    <xs:element name="ticker" type="xs:string" minOccurs="0" />
                    <xs:element name="ric" type="xs:string" minOccurs="0" />
                    <xs:element name="localcode" type="xs:string" minOccurs="0" />
                    <xs:element name="vol1m" type="xs:decimal" minOccurs="0" />
                    <xs:element name="vol12m" type="xs:decimal" minOccurs="0" />
                    <xs:element name="dividend" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="gpe" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ltg" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ltpe" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="mc" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="nbranl" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedByte">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="vr" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="ValuationRating">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="star" type="InterestStar" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rp" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="star" type="InterestStar" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tt" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="TechnicalTrend">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="star" type="InterestStar" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ert" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="EarningsRevisionTrend">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="star" type="InterestStar" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="irst" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="Interest">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="bear" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:integer">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="badnews" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedShort">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="beta" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:short">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="corr2" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="riskzone" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="RiskZone">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="varval" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="gleval" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="GlobalEvaluation">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="firstdate" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:date">
                            <xs:attribute name="text" type="xs:unsignedByte" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="analysisdate" type="xs:date" use="optional" />
            <xs:attribute name="publishdate" type="xs:date" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="GlobalEvaluation">
    <xs:restriction base="xs:byte">
      <xs:enumeration value="-2" />
      <xs:enumeration value="-1" />
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InterestStar">
    <xs:annotation>
      <xs:documentation>Interest star -&gt; 0: empty, 1: full</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="TechnicalTrend">
    <xs:restriction base="xs:decimal">
      <xs:enumeration value="-1" />
      <xs:enumeration value="-0.1" />
      <xs:enumeration value="0.1" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EarningsRevisionTrend">
    <xs:restriction base="xs:decimal">
      <xs:enumeration value="-1" />
      <xs:enumeration value="-0.1" />
      <xs:enumeration value="0.1" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValuationRating">
    <xs:restriction base="xs:byte">
      <xs:enumeration value="-2" />
      <xs:enumeration value="-1" />
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RiskZone">
    <xs:restriction base="xs:byte">
      <xs:enumeration value="-1" />
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="en" />
      <xs:enumeration value="de" />
      <xs:enumeration value="fr" />
      <xs:enumeration value="es" />
      <xs:enumeration value="it" />
      <xs:enumeration value="se" />
      <xs:enumeration value="nl" />
      <xs:enumeration value="zt" />
      <xs:enumeration value="zs" />
      <xs:enumeration value="jp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Interest">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>